* {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Roboto", sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
}

.main {
   width: calc(100% - 217px);
   margin-left: 217px;
   background-color: #f2f2f5;
}

.content {
   padding: 20px 28px 40px;
}

.primary-link {
   color: #1876d1;
}
